/* TEMPLATE STYLES */
/* Necessary for full page carousel

Landing Zero theme - A free landing page theme from BootstrapZero
http://www.bootstrapzero.com
#A8A7A8 Gray
#CC527A Dark Pink
#E8175D Bright Pink
#474747 Medium Gray
#363636 Dark Gray
*/



html,
body,
#app,
.view {
    height: 100%;
    width: 100%;
    color: #222;
    position: relative;

}


/* Navigation*/
.active {
    color:#eb3573!important;
}
/*.navbar {
    background-color: transparent;
}*/

.navbar .container{
margin-left: 0;

}
.scrolling-navbar {
    -webkit-transition: background .5s ease-in-out, padding .5s ease-in-out;
    -moz-transition: background .5s ease-in-out, padding .5s ease-in-out;
    transition: background .5s ease-in-out, padding .5s ease-in-out;
}

.top-nav-collapse {
    opacity : 0.9;
    background-color: #1C2331;
}

.background-light{
  background-color:  #f9f6f6;
}

.background-dark{
  background-color: #363636;
}

.background-teal{
  background-color: #2BBBAD;
}

.background-yellow{
  background-color: #574500;
}



.carousel,
.carousel-item {
    height: 100%;
}


.carousel-inner {
    height: 100%;
}


.carousel-caption {
    height: 100%;
    padding-top: 7rem;
}
